@* 引用组件 *@
@(await Html.UseVueComponent("lights-container"))


@* C#传递至Vue组件的参数集初始化 *@
@{
	var tags = new[] { "'光头'", "矮", "瘦" };
	var user = new
	{
		name = "张三", age = 18, tags
	};
	var room = new
	{
		number = 10, floor = 2, name = "royal",
		facilities = new []{ "tv", "bed", "light" },
	};

	Dictionary<string, object> parameters = new();
	// parameters.Add("user", user);
	parameters.Add("room", room);
}


@* 定义锚点 *@
<div id="app">
	@*使用组件,提供props,传递C#对象的引用
        直接传递字符串					title="xxx"     
        传递C#中的值类型,有警告			:room="xxxRef"  
        错误的引用,json的"冲突				:user="@Json.Encode(user)"
        正确的引用,有'警告					:user='@Json.Encode(user)'
    *@
	<lights-container 
		color="pink" 
		:user='@Json.Serialize(user)' 
		:room="room"
		title="This is title"
	/>
</div>


@* 使能多个,不传C#参数 *@
@* @Html.EnableVueContainers("app") *@


@* 使能单个,传递C#参数 *@
@Html.EnableVueContainer("app", parameters);